:host {
  margin: 0 16px 0 16px;

  img {
    width: 100px;
    margin-right: 16px;;
  }

  mat-card-content {
    display: flex;
  }

  mat-card-actions {
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
  }
}
